.background-mypage
  .flex-box
    .left-box
      =render "users/show_left_box"
    .right-box
      .user-mypage
        .user-mypage__header-logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "action"
  .footer-box
    =render "users/show_footer_box"