$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #3CCACE;
$light_gray: rgb(245, 245, 245);
$black: #434a54;
$alert_orange: #F35500;
$black: #222;
$sky_blue:#3ccace;
$alert_orange: #F35500;
$background_light_gray: #f5f5f5;
$error_msg: #ea352d;
$background_light_gray: #f5f5f5;
$dark_gray: rgb(136, 136, 136);

