.purchase-confirmation-contents
  .purchase-confirmation-contents__header
  .purchase-confirmation-contents__main
    .purchase-confirmation-contents__main__container

      .purchase-confirmation-contents__main__container__head
      .purchase-content
        .purchase-content__inner
          .purchase-item
            .purchase-item__image
            .purchase-item__detail
          
      .purchase-content
        .purchase-content__inner
          .purchase-form
            .purchase-form__item-price
            .purchase-form__user-card
            .purchase-form__user-adress
  .purchase-confirmation-contents__footer
