.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }
  .alert {
    color: $error_msg;
    text-align: center;
    margin: 20px 0 -20px 0;
  }
}