.Main {
  background-color: $background_light_gray;
  .showMain {
    padding: 40px;
    margin: 0 auto;
    .contentBox {
      width: 700px;
      margin: 0 auto;
      .topContent {
        .itemBox {
          background-color: $white;
          padding: 24px 40px 40px;
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body {
            margin: 16px 0 0;
            ul {
              display: flex;
              li {
                display: flex;
              }
            }
          }
          &__price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            span {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &-detail {
              span {
                font-size: 16px;
              }
            }
          }
          &_detail {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          .table {
            margin-bottom: 20px;
            table {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              tbody {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                tr {
                  display: table-row;
                  vertical-align: inherit;
                  border-color: inherit;
                  th {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  td {
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .optionalArea {
            display: flex;
            justify-content: space-between;
            ul {
              margin: 10px 0 0;
              display: flex;
              .LikesIcon {
                margin-top: 4px;
                padding: 6px 10px;
              }
              .counts {
                .favorite {
                  margin-right: auto;
                  padding: 6px 10px;
                  border-radius: 40px;
                  color: $sky_blue;
                  border: 1px solid #ffb340;
                }
                .favorites-box {
                  p {
                    padding: 10px 0 0 10px;
                    .favorites-lists {
                      text-decoration: none;
                    }
                  }
                }
              }
            }
            .optional {
              margin: 10px 0 0;
              display: flex;
              .optionalBtn {
                font-size: 14px;
                a {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                  .fa {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                  }
                }
              }
            }
          }
        }
        .itemBox-container {
          .li-edit {
            @include list-button;
            background-color: $sky_blue;
            .link-path {
              text-decoration: none;
              color: white;
            }
          }
          .li-or {
            @include list-button;
          }
          .li-delete {
            @include list-button;
            background-color: gray;
            .link-path {
              text-decoration: none;
              color: white;
            }
          }
          .li-status {
            @include list-button;
            background-color: $sky_blue;
            color: white;
          }
          .li-purchase {
            @include list-button;
            background-color: $sky_blue;
            .link-path {
              text-decoration: none;
              color: white;
            }
          }
        }
        .item-detail-message {
          @include list-button;
          background-color: $white;
          .message-container {
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            .message-content {
              padding: 24px 7.5%;
              background: $white;
              .message-items {
                margin: 0;
                .clearfix {
                  display: flex;
                  justify-content: space-between;
                  margin: 60px 0px;
                  .message-user {
                    position: relative;
                    top: -20px;
                    display: inline-block;
                    color: #333;
                    text-decoration: none;
                    .figure {
                      background-repeat: no-repeat;
                      margin: 0;
                      padding: 0;
                      .div {
                        width: 40px;
                        height: 40px;
                        overflow: hidden;
                        border-radius: 50%;
                      }
                      .bold {
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        left: 56px;
                        max-width: 100%;
                        min-width: 214px;
                        height: 1.2em;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        text-align: left;
                        font-weight: bold;
                      }
                    }
                    .message-is-seller {
                      margin: 8px 0 0;
                      padding: 4px;
                      background: #eef0f4;
                      color: #000;
                    }
                  }
                  .message-body {
                    position: relative;
                    width: calc(100% - 56px);
                    padding: 16px;
                    background: #eef0f4;
                    border-radius: 15px;
                    line-height: 1.5;
                    word-break: break-all;
                    &-text {
                      background-repeat: no-repeat;
                      margin: 0;
                      padding: 0;
                    }
                    .message-icons {
                      margin: 8px 0 0;
                      .message-icon-left {
                        float: left;
                        .icon-time {
                          vertical-align: middle;
                        }
                        time {
                          vertical-align: middle;
                        }
                      }
                      .message-icon-right {
                        float: right;
                      }
                    }
                    .icon-balloon {
                      position: absolute;
                      top: 8px;
                      left: -9px;
                      color: #eef0f4;
                    }
                  }
                }
              }
            }
            .comment_body {
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            .noticeMsg {
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            .commentBtn {
              font-size: 18px;
              line-height: 48px;
              background-color: $sky_blue;
              border: 1px solid $sky_blue;
              color: $white;
              width: 60%;
              border-radius: 100px;
              margin-top: 10px;
            }
          }
        }
      }
      .links {
        list-style: none;
        display: flex;
        justify-content: space-between;
        .left {
          a {
            @include link-items
          }
        }
        .right {
          a {
            @include link-items
          }
        }
      }
      .relatedItems {
        a {
          display: block;
          margin: 24px 0 8px;
          color: $sky_blue;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
    }
  }
}

// 検索結果一覧ページ
.background {
  background-color: $background_light_gray;
  .search-container {
    width: 700px;
    padding-top: 40px;
    margin: 0 auto;
    &__header {
      &--tabs {
        display: flex;
        .tab {
          width: 350px;
          height: 72px;
          background-color: $white;
          line-height: 72px;
          text-align: center;
          border: 1px solid #ccc;
          select {
            border: none;
          }
          .action {
            color: #333;
            text-decoration: none;
          }
        }
      }
      &--keyword {
        margin: 16px 0 8px;
        font-size: 18px;
        span {
          font-weight: bold;
        }
      }
      &--number {
        font-size: 12px;
        color: #888888;
        margin: 16px 0;
      }
    }
    &__main {
      .search-result {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item-list {
          text-decoration: none;
          color: #333333;
          &__box {
            background-color: $white;
            margin: 8px 0;
            &--image {
              .image {
                height: 160px;
                width: 160px;
              }
            }
            &--name {
              padding: 8px;
            }
          }
        }
      }
    }
    &__footer {
      text-align: center;
      padding: 40px 0;
      margin-left: 88px;
      .page {
        display: inline-block;
        border: 1px solid #AAAAAA;
        text-align: center;
        line-height: 42px;
        width: 44px;
        border-radius: 4px;
      }
      a {
        color: #333;
        text-decoration: none;
      }
      .translation_missing {
        display: block;
        border: 1px solid #AAAAAA;
        text-align: center;
        line-height: 42px;
        width: 44px;
        border-radius: 4px;
        color: #333;
        float: right;
      }
    }
  }
}

// 詳細検索ページ
.background {
  .container {
    width: 700px;
    padding: 40px 64px;
    margin: 0 auto;
    background-color: $white;
    .contents {
      .detail_search {
        span {
          font-weight: bold;
        }
        &__title {
          h3 {
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 40px;
          }
        }
        &__group {
          margin-top: 40px;
          input, select {
            width: 100%;
            height: 48px;
            padding: 8px 16px;
            margin-top: 8px;
          }
        }
        &__group-middle {
          margin-top: 40px;
          &--checkbox {
            display: inline-block;
            width: 49%;
            label {
              display: flex;
              line-height: 36px;
              input {
                height: 20px;
                width: 20px;
                margin-top: 8px;
                margin-right: 8px;
              }
            }
          }
        }
        &__btns {
          padding-top: 40px;
          display: flex;
          justify-content: space-between;
          a {
            display: inline-block;
            text-decoration: none;
            border-radius: 4px;
            text-align: center;
            line-height: 50px;
            width: 255px;
            background-color: #AAAAAA;
            color: $white;
          }
          input {
            border: none;
            border-radius: 4px;
            height: 50px;
            width: 255px;
            background-color: $sky_blue;
            color: $white;
          }
        }
      }
    }
  }
}