// 商品購入確認ページ
.purchase-confirmation-contents {
  background-color: $light_gray;
  .purchase-confirmation-contents__main{
    height: 100%;
    &__container {
      width: 650px;
      margin: 0 auto;
      background-color: white;
      &__head {
        height: 80px; 
        line-height: 80px;
        @include form-head;
      }
      .purchase-content {
        &:nth-of-type(2){
          @include border-bottom;
        }
        &__inner {
          margin: 30px auto;
          width: 350px;
          .purchase-item {
            height: 120px;
            display: flex;
            align-items: center;
            &__image {
              padding-bottom: 30px;
            }
            &__detail {
              padding-left: 20px;
              &__title {
                margin-bottom: 10px;
              }
              &__price {
                font-weight: 600;
              }
            }
          }
          .purchase-form {
            &__item-price {
              height: 110px;
              display: flex;
              justify-content: space-between;
              @include border-bottom;
              &__logo {
                font-weight: 600;
                font-size: 18px;
                line-height: 110px;
              }
              &__number {
                font-weight: 600;
                font-size: 25px;
                line-height: 110px;
              }
            }
            &__user-card {
              height: 160px;
              @include border-bottom;
              padding: 30px 0;
              
              &__form {
                position: relative;
                &__logo {
                  font-weight: 600;
                  margin-bottom: 5px;
                  span {
                    @include label-group__label ($black)
                  }
                }
                .card-list__main__info {
                  .card-list__main__info__change {
                    @include change-link;
                    a {
                      @include word-link;
                    }
                  }
                }
              }
            }
            &__user-adress {
              height: 150px;
              @include border-bottom;
              padding: 30px 0;
              
              &__form {
                position: relative;
                &__logo {
                  span {
                    @include label-group__label ($black);
                  }               
                }
                &__change {
                  @include change-link;
                  a {
                    @include word-link;
                  }
                }
              }
            }
            &__button {
              height: 120px;
              @include border-bottom;
              .buy-button {
                margin: 30px 0;
                @include button-lightblue;
              }
            }
          }
        }
      }
    }
  }
}
