// user新規登録とshipping_address登録ページ
.background {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  background-color: $background_light_gray;
  .account-page {
    @include user-account__contents ($white);
    max-width: 700px;
    &__header {
      background-color: $background_light_gray;
      height: 128px;
      padding: 30px 15%;
      align-items: center;
      display: flex;
      &--progress {
        font-size: 12px;
        text-align: center;
        margin-left: 15%;
        margin-top: 10px;
        ol {
          color: #888;
          display: flex;
          .progress-status {
            color: $sky_blue;
          }
          .status-title {
            margin-right: 43px;
            margin-bottom: 8px;
          }
          .status-point {
            @include status-point (#ccc);
            &__first {
              @include status-point ($sky_blue);
              margin-left: 18px;
              margin-bottom: 16px;
            }
            &__second {
              z-index: 1;
              @include status-point ($sky_blue);
            }
          }
          .status-bar {
            background-color: #ccc;
            margin-top: 5px;
            width: 80px;
            height: 2px;
          }
          .add-color {
            background-color: $sky_blue;
          }
        }
      }
    }
    &__inner {
      &--title {
        line-height: 97px;
        @include user-account__inner--title ($background_light_gray);
      }
      &--box {
        padding: 25px 25%;
        &--user-form {
          .field {
            &__label {
              font-size: 14px;
              .form-require {
                @include user-label-group($sky_blue);
              }
              .form-any {
                @include user-label-group(#ccc);
              }
            }
            &__input {
              input {
                @include user-input (#ccc);
              }
              input.form-invalid {
                @include form-error;
              }
              select {
                @include user-select;
                width: 27%;
              }
              select.form-invalid {
                @include form-error;
              }
              
            }
            &__input-half {
              input {
                @include user-input (#ccc);
                width: calc(50% - 16px);
              }
              input.form-invalid {
                @include form-error;
              }
            }
          }
          .actions {
            input {
              @include user-submit ($sky_blue);
            }
          }
        }
        // フォーム直下にメッセージを出すために、フォームの上にmargin掛けました
        .error-msg__margin {
          margin-top: 24px;
        }
      }
    }
  }
  .footer{
    line-height: 220px;
    background-color: $background_light_gray;
    text-align: center;
    font-size: 12px;
  }

// ログインページ
  .login-page {
    @include user-account__contents ($white);
    max-width: 456px;
    &__header {
      @include user-login__header ($background_light_gray);
    }
    &__inner {
      &--title {
        padding: 25px 14%;
        @include user-account__inner--title ($background_light_gray);
        p {
          font-size: 14px;
        }
        .actions {
          @include user-submit (#0099e8);
        }
      }
      &--box {
        padding: 40px 14%;
        &--user-form {
          .field {
            &__label {
              font-size: 14px;
            }
            &__input {
              margin-bottom: 24px;
              input {
                @include user-input (#ccc);
              }
              input.form-invalid {
                @include form-error;
              }
            }
          }
          .actions {
            input {
              @include user-submit ($sky_blue);
            }
          }
          .users_shared_links {
            margin-top: 40px;
            a {
              @include user-word-link;
            }
          }
        }
      }
    }
  }

  // パスワードを忘れた方のページ
  .password-page {
    @include user-account__contents ($white);
    &__header {
      @include user-login__header ($background_light_gray);
    }
  }
}

// エラーメッセージ
p.form-invalid {
  color: $error_msg;
}
.field_with_errors {
  width: inherit;
  input, textarea, select {
    border-color: $error_msg !important;
  }
}
.errors {
  display: inline;
  color: $error_msg;
}
#error_explanation{
  color: $error_msg;
  padding: 20px 0 20px;
}

// ユーザーマイページ
.background-mypage {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  background-color: $background_light_gray;
  padding-bottom: 40px;
  .flex-box {
    margin: 40px auto 0;
    width: 1020px;
    display: flex;
    .left-box {
      .user-mypage {
        margin-right: 40px;
        width: 280px;
        &__container {
          p {
            @include user-mypage__font-weight;
            margin: 0 0 4px 0;
          }
          .content {
            @include user-mypage__btn ($white);
            height: 48px;
            padding: 16px;
            width: 100%;
            color: $black;
            margin-bottom: 1px;
          }
          .changecolor {
            @include user-mypage__changecolor (#f8f8f8);
          }
          .addcolor {
            @include user-mypage__changecolor (#eeeeee);
          }
          .icon-arrow {
            color: #cccccc;
            position: relative;
            &__right {
              position: absolute;
              top: 16px;
              right: 16px;
            }
          }
        }
      }
    }
    .right-box {
      .user-mypage {
        width: 700px;
        margin: 0 auto;
        &__header {
          background: linear-gradient(-45deg, rgba(246, 255, 0, .8), $sky_blue);
          @include user-mypage__header;
          a {
            display: inline-block;
            margin-top: 24px;
          }
          h2 {
            margin-top: 8px;
            font-weight: bold;
          }
          .user-status {
            margin-top: 8px;
            div {
              display: inline-block;
              span {
                margin-left: 8px;
                font-weight: bold;
              }
            }
            .products-number {
              margin-left: 16px;
            }
          }
        }
        &__tabs {
          display: flex;
          .tab {
            @include user-mypage__tab;
          }
          .white-tab {
            @include user-mypage__white-tab;
          }
          .tab-2 {
            @include user-mypage__tab;
          }
          .white-tab-2 {
            @include user-mypage__white-tab;
          }
        }
        &__messages {
          @include user-mypage__lightcolor-font;
          line-height: 48px;
          background-color: $white;
          font-size: 14px;
          margin-bottom: 1px;
          li {
            padding: 16px;
            margin-bottom: 1px;
          }
          .container {
            display: none;
          }
          .show {
            display: block;
          }
        }
        &__btn {
          background-color: $white;
          height: 90px;
          padding: 16px;
          .btn {
            @include user-mypage__btn (#eee);
            line-height: 56px;
            width: 100%;
            text-align: center;
            color: $black;
          }
        }
        &__purchase {
          line-height: 40px;
          margin-top: 40px;
          padding: 16px;
          background-color: #fafafa;
          @include user-mypage__font-weight;
        }
        &__images-nil {
          @include user-mypage__images-container;
          @include user-mypage__lightcolor-font;
          padding-top: 160px;
          font-size: 16px;
          margin-bottom: 40px;
          position: relative;
          .icon-freema {
            position: absolute;
            top: 40px;
            left: 310px
          }
        }
        &__images {
          .item-list {
            text-decoration: none;
            color: $black;
            &__box {
              width: 100%;
              background-color: $white;
              display: flex;
              padding: 16px;
              margin-bottom: 1px;
              &--image {
                .image {
                  height: 48px;
                  width: 48px;
                }
              }
              &--name {
                margin: 0 20px;
                max-width: 500px;
              }
              &--price {
                max-width: 100px;
              }
            }
          }
        }
        .container-2 {
          display: none;
        }
        .show {
          display: block;
        }
        .add-margin-top {
          margin-top: 40px;
        }

        // ログアウトページで使用
        &__header-logout {
          background: $white;
          @include user-mypage__header;
          padding: 64px;
          .action {
            @include user-mypage__btn ($sky_blue);
            font-size: 14px;
            color: $white;
            width: 320px;
            line-height: 50px;
            border-radius: 4px;
          }
        }
      }
    }
  }

  // 最終的に他のscssに書かれる予定で今はコメントアウト
  // .footer-sell-btn {
  //   position: fixed;
  //   bottom: 32px;
  //   right: 32px;
  //   .sell-btn {
  //     display: inline-block;
  //     height: 120px;
  //     width: 120px;
  //     background-color: $sky_blue;
  //     text-align: center;
  //     color: $white;
  //     text-decoration: none;
  //     font-size: 18px;
  //     font-weight: bold;
  //     border-radius: 4px;
  //     padding-top: 15px;
  //   }
  // }
  // .footer-camera-icon {
  //   position: fixed;
  //   bottom: 47px;
  //   right: 65px;
  // }
}
