// user新規登録とshipping_address登録ページ
.background {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  background-color: $background_light_gray;
  .account-page {
    @include user-account__contents ($white);
    max-width: 700px;
    &__header {
      background-color: $background_light_gray;
      height: 128px;
      padding: 30px 15%;
      align-items: center;
      display: flex;
      &--progress {
        font-size: 12px;
        text-align: center;
        margin-left: 15%;
        margin-top: 10px;
        ol {
          color: #888;
          display: flex;
          .progress-status {
            color: $sky_blue;
          }
          .status-title {
            margin-right: 43px;
            margin-bottom: 8px;
          }
          .status-point {
            @include status-point (#ccc);
            &__first {
              @include status-point ($sky_blue);
              margin-left: 18px;
              margin-bottom: 16px;
            }
            &__second {
              z-index: 1;
              @include status-point ($sky_blue);
            }
          }
          .status-bar {
            background-color: #ccc;
            margin-top: 5px;
            width: 80px;
            height: 2px;
          }
          .add-color {
            background-color: $sky_blue;
          }
        }
      }
    }
    &__inner {
      &--title {
        line-height: 97px;
        @include user-account__inner--title ($background_light_gray);
      }
      &--box {
        padding: 25px 25%;
        &--user-form {
          .field {
            &__label {
              font-size: 14px;
              .form-require {
                @include user-label-group($sky_blue);
              }
              .form-any {
                @include user-label-group(#ccc);
              }
            }
            &__input {
              margin-bottom: 24px;
              input {
                @include user-input (#ccc);
              }
              select {
                @include user-select;
                width: 27%;
              }
            }
            &__input-half {
              margin-bottom: 32px;
              input {
                @include user-input (#ccc);
                width: 47%;
              }
            }
          }
          .actions {
            input {
              @include user-submit ($sky_blue);
            }
          }
        }
      }
    }
  }
  .footer{
    line-height: 220px;
    background-color: $background_light_gray;
    text-align: center;
    font-size: 12px;
  }

// ログインページ
  .login-page {
    @include user-account__contents ($white);
    max-width: 456px;
    &__header {
      @include user-login__header ($background_light_gray);
    }
    &__inner {
      &--title {
        padding: 25px 14%;
        @include user-account__inner--title ($background_light_gray);
        p {
          font-size: 14px;
        }
        .actions {
          @include user-submit (#0099e8);
        }
      }
      &--box {
        padding: 40px 14%;
        &--user-form {
          .field {
            &__label {
              font-size: 14px;
            }
            &__input {
              margin-bottom: 24px;
              input {
                @include user-input (#ccc);
              }
            }
          }
          .actions {
            input {
              @include user-submit ($sky_blue);
            }
          }
          .users_shared_links {
            margin-top: 40px;
            a {
              @include user-word-link;
            }
          }
        }
      }
    }
  }

  // パスワードを忘れた方のページ
  .password-page {
    @include user-account__contents ($white);
    &__header {
      @include user-login__header ($background_light_gray);
    }
  }
}

// ユーザーマイページ
.background-mypage {
  background-color: $background_light_gray;
  padding-bottom: 40px;
  .flex-box {
    margin: 40px auto 0;
    width: 1020px;
    display: flex;
    .left-box {
      .user-mypage {
        margin-right: 40px;
        width: 280px;
      }
    }
  }
  .user-mypage {
    width: 700px;
    margin: 0 auto;
    &__header {
      background: linear-gradient(-45deg, rgba(246, 255, 0, .8), $sky_blue);
      height: 200px;
      text-align: center;
      padding: 20px;
      font-size: 14px;
      a {
        display: inline-block;
        margin-top: 24px;
      }
      h2 {
        margin-top: 8px;
        font-weight: bold;
      }
      .user-status {
        margin-top: 8px;
        div {
          display: inline-block;
          span {
            margin-left: 8px;
            font-weight: bold;
          }
        }
        .products-number {
          margin-left: 16px;
        }
      }
    }
    &__header-logout {
      background: $white;
      height: 200px;
      text-align: center;
      padding: 20px;
      font-size: 14px;
      padding: 64px;
      .action {
        display: inline-block;
        background-color: $sky_blue;
        font-size: 14px;
        text-decoration: none;
        color: $white;
        width: 320px;
        line-height: 50px;
      }
    }
    &__tabs {
      display: flex;
      .tab {
        display: inline-block;
        line-height: 72px;
        width: 350px;
        background-color: #eee;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        color: $black;
      }
      .white-tab {
        line-height: 70px;
        background-color: $white;
        border-top: 2px solid $sky_blue;
      }
    }
    &__messages {
      line-height: 60px;
      background-color: $white;
      padding: 16px;
      font-size: 14px;
      text-align: center;
      font-weight: bold;
      color: #cccccc;
      margin-bottom: 1px;
    }
    &__btn {
      background-color: $white;
      height: 90px;
      padding: 16px;
      .btn {
        display: inline-block;
        line-height: 56px;
        width: 100%;
        background-color: #eee;
        text-align: center;
        text-decoration: none;
        color: $black;
      }
    }
    &__purchase {
      line-height: 72px;
      margin-top: 40px;
      padding: 0 16px;
      background-color: #fafafa;
      font-size: 16px;
      font-weight: bold;
    }
    &__images-nil {
      background-color: $white;
      height: 236px;
      padding-top: 160px;
      text-align: center;
      color: #cccccc;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 40px;
      position: relative;
      .icon-freema {
        position: absolute;
        top: 40px;
        left: 310px
      }
    }
    &__images {
      display: flex;
      background-color: $white;
      height: 236px;
      padding: 20px;
      align-items: center;
      margin-bottom: 1px;
      .item-list {
        text-decoration: none;
        color: $black;
        &__box {
          margin: 0 16px;
          font-size: 16px;
          &--image {
            .image {
              height: 100px;
              width: 100px;
            }
          }
          &--name {
            margin: 4px 0;
          }
        }
      }
    }
    .add-margin-top {
      margin-top: 40px;
    }
    &__container {
      p {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 4px 0;
      }
      .content {
        display: inline-block;
        height: 48px;
        padding: 16px;
        width: 100%;
        background-color: $white;
        text-decoration: none;
        color: $black;
        margin-bottom: 1px;
      }
      .icon-arrow {
        color: #cccccc;
        position: relative;
        &__right {
          position: absolute;
          top: 16px;
          right: 16px;
        }
      }
    }
  }
  // 最終的に他のscssに書かれるのでコメントアウト
  // .footer-sell-btn {
  //   position: fixed;
  //   bottom: 32px;
  //   right: 32px;
  //   .sell-btn {
  //     display: inline-block;
  //     height: 120px;
  //     width: 120px;
  //     background-color: $sky_blue;
  //     text-align: center;
  //     color: $white;
  //     text-decoration: none;
  //     font-size: 18px;
  //     font-weight: bold;
  //     border-radius: 4px;
  //     padding-top: 15px;
  //   }
  // }
  // .footer-camera-icon {
  //   position: fixed;
  //   bottom: 47px;
  //   right: 65px;
  // }
}
