.mypage-card-contents
  .mypage-card-contents__header
  .user-card
    %h2.user-card__head
      支払い方法
    .user-card__main
      .card-list
        .card-list__head
          %h3.card-list__head__text
            クレジットカード一覧
        .card-list__main
          .card-list__main__info
            .card-list__main__info__brand
              VISA
            .card-list__main__info__num
              ********2100
            .card-list__main__info__num
              07/24
            %button.card-list__main__info__delete
              削除する
      .user-card__main__card-help
        支払い方法について
  .mypage-card-contents__footer
