%aside.banner
  .contet
    %h2.bannerText
      だれでもかんたん、人生を変えるフリマアプリ
    %p.bannerTitle
      今すぐ無料ダウンロード!
    .bannerApp
      %a{:href => "https://apps.apple.com/jp/app/itunes-store/id915061235?mt=8", :style => "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2016-06-01&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"}
      %a{:href => "http://play.google.com/store/#?pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"}
        %img{:alt => "Google Play で手に入れよう", :src => "https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png", :width => "160px"}/