%aside.banner
  .contet
    %h2.bannerText
      だれでもかんたん、人生を変えるフリマアプリ
    %p.bannerTitle
      今すぐ無料ダウンロード!
    .bannerApp
      = link_to "https://www.apple.com/ios/app-store/" do
        =image_tag "https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2016-06-01&kind=iossoftware&bubble=ios_apps", width: "160"
      = link_to "http://play.google.com/store/#?pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" do
        = image_tag "https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png", width: "160"