\%#
%link{:href => "js/index.js", :rel => "stylesheet", :type => "text/js"}
  %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css", :rel => "stylesheet"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %script{:src => "./main.js"}
    = succeed "\u2029" do
      %script{:src => "script.js"}
