.insideHeader
  .mainHeader
    %h1.logo
      %a{:href => "#"}
      %img{:src => "#"}/

    .searchBox
      キーワードから探す
  .navBar
    %ul.leftList
      %li.list
        %a#btn{:href => "#"} カテゴリー
        .menue
      %li.list
        %a#btn{:href => "#"} ブランド
        .menue
    %ul.rightList
      %li.btn
        %a#btn{:href => "#"} ログイン
      %li.btn
        %a#btn{:href => "#"} 新規会員登録
