.insideHeader
  .mainHeader
    %h1.logo
      %a{:href => "#"}
      %img{:src => "#"}/

    .searchBox
      キーワードから探す
  .navBar
    %ul.leftList
      %li.list
        %a#btn{:href => "#"} カテゴリー
        .menue
      %li.list
        %a#btn{:href => "#"} ブランド
        .menue
    %ul.rightList
      %li.btn
        = link_to "ログイン", new_user_session_path, class: 'actions'
      %li.btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'actions'
      %li.btn
        %a#btn{:href => "#"} 新規会員登録
      %li.btn
        = link_to '出品', new_item_path
