
$section-color: rgb(245,245,245);

.overrall{
  min-height: 100vh;
  flex-direction: column;
  .header {

  }
  
  .contents {
    display: flex;
    .left {
  
    }
    .center {
  
    }
    .right {
  
    }
  }
  
  .footer {
  
  }
}